In [2]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [3]:
engine = create_engine("sqlite:///hawaiii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

/Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:6: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)

In [4]:
# Intitialize the Inspector

inspector = inspect(engine)

In [5]:
# Measurement table columns

Measurement_columns = inspector.get_columns('Measurement')

for row in Measurement_columns:
    print(row)

{'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}
{'name': 'station', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'date', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'prcp', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'tobs', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}

In [6]:
# Get the Station table columns

Station_columns = inspector.get_columns('Station')

for row in Station_columns:
    print(row)

{'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}
{'name': 'station', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'name', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'latitude', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'longitude', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'elevation', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}

In [7]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [8]:
# Import the sqlalchemy extract function.
from sqlalchemy import extract

# 1. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

June_Temps = session.query(Measurement.tobs).\
    filter(Measurement.date.like('%-06-%'))

In [9]:
# 2. Convert the June temperatures to a list.

June_temperatures = list(June_Temps)

In [10]:
# 3. Create a DataFrame from the list of temperatures for the month of June. 

june_df = pd.DataFrame(June_temperatures,columns = ["June Temps"])

june_df.head()

   June Temps
0        78.0
1        76.0
2        78.0
3        76.0
4        77.0

In [11]:
# 4. Calculate and print out the summary statistics for the June temperatures DataFrame.

june_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [12]:
# 5. Return to your challenge instructions to compare your summary statistics

# The data in my table is an exact match to the data in the challenge instructions summary statistics.

## D2: Determine the Summary Statistics for December

In [13]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

December_Temps = session.query(Measurement.tobs).\
    filter(Measurement.date.like('%-12-%'))

In [14]:
# 7. Convert the December temperatures to a list.

december_temperatures = list(December_Temps)

In [18]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 

december_df = pd.DataFrame(december_temperatures, columns = ["December Temps"])

In [19]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.

december_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [ ]:
# 10. Return to your challenge instructions to compare your summary statistics

# The data in my December Temps table is an exact match to the data in the challenge instructions summary statistics.